@model ExamViewModel
@using ExamMongoDB.Views.Manage


@using ExamMongoDB.Identity
@using Microsoft.AspNetCore.Identity
@using ExamMongoDB.Models.Repositories
@inject UserManager<Student> _userManager
@inject SignInManager<Student> _signInManager


@Html.Partial("_StatusMessage", Model.StatusMessage)

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/student_logged_in.css" />

<h2>Available Exams For Enrollment</h2>

@if (@User.Identity.IsAuthenticated == true)
{

    <table class="table table-borderless table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                @*<th>SubjectCode</th>*@
                <th>Subject Name</th>
                <th>Programme</th>
                <th>Exam Date</th>
                <th>Subject Code</th>
                <th>Enroll</th>

        </thead>
        <tbody >

            @foreach (var item in Model.Exams)
            {
                <tr>
                    @*<td class="text-center">@item.ExamId</td>*@
                    <td class="text-left">@item.SubjectName</td>
                    <td class="text-left">@item.ProgrammeCode</td>
                    <td class="text-left">@item.ExamDate</td>
                    @*<td class="text-left"><a asp-controller="Exam" asp-action="Detail" asp-route-id="@item.idExam"> @item.idExam</a></td>*@
                    <td class="text-left">@item.idExam</td>

                    <td>
                        <form method="post" action="/exam/enroll">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="idExam" value="@item.idExam" />
                            <input type="hidden" name="SubjectName" value="@item.SubjectName" />
                            <input type="hidden" name="ExamDate" value="@item.ExamDate" />
                            <input type="hidden" name="ProgrammeCode" value="@item.ProgrammeCode" />
                            <input type="hidden" name="userName" value="@_userManager.GetUserId(User)" />

                            @*Enrollment button/icon*@

                            <input type="image" @*class="btn btn-primary"*@  class="align-self-center" 
                                   src="https://vectorified.com/images/enrollment-icon-28.png" width="30" height="30" 
                                   onclick="return confirm('Are you sure you want to enrol to this exam @item.ProgrammeCode @item.SubjectName?')"
                                    />

                        </form>
                    </td>

                </tr>
            }

        </tbody>
    </table>

}
else
{
    <p>You are not logged in</p>
}

